.model-title {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    color: #fffffa;
}

.model-container {
    margin: 2rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.model-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.model-card {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: 400px;
    border: 2px solid #808080;
    border-radius: 15px;
    perspective: 1000px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    background-color: #0e1e3a; /* 2c1e3d */
    color: #ccc;
}

.model-card h3 {
    font-size: 36px;
    text-align: center;
    color: #ccc;
    padding: 2px 20px;
    margin: 0;
    background-color: #0e1e3a; 
}

@media (max-width: 768px) {
    .model-card {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px); 
    }
}

.model-card:hover .model-front {
    transform: rotateY(-180deg);
}

.model-card:hover .model-back {
    transform: rotateY(0deg);
}

.model-front,
.model-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.model-front {
    transform: rotateY(0deg);
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    box-sizing: border-box;
    box-shadow: inset 0px 200px 300px -100px rgba(0,0,0,0.8); 
}

.model-front img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.model-back {
    transform: rotateY(180deg);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 15px;
}

.model-back p {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
}