@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  /* background: linear-gradient(to bottom right, RGB(245, 245, 245), RGB(241, 228, 228));  */
  background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.table-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.table {
  text-align: center;
}

.table th,
.table td {
  padding: 8px 12px; /* Adjust padding as needed */
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover {
  color: inherit;
}

a:active, a:focus {
  outline: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: larger;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.8);
  background-image: paint(fleck);
  border-bottom: 0.5px solid #676767
}

.navbar li {
  color: whitesmoke;
  margin-right: 1rem;
  text-decoration: none;
  list-style-type: none;
}

.dropdown-menu li {
  color: black;
}

.left, .right {
  display: flex;
}

.right {
  margin-left: auto;
  font-size: larger;
}

.data-plots {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.plot-img {
  width: 100%;
  height: auto;
}

.plot-img1 {
  width: 70%;
  height: auto;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.results-item {
  width: calc(50% - 10px);
  border: 1.5px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .results-item {
    width: 100%;
  }
}

.child:first-child {
  width: 100%;
}

.child:first-child .plot-img {
  width: 50%;
  height: auto;
}

.clf-report p {
  margin: 0;
}

#screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #fdfeff; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#background-video {
  position: fixed; /* Fixed positioning so it covers the entire window */
  top: 0;
  left: 0;
  min-width: 100%; /* Minimum width to cover the entire viewport */
  min-height: 100%; /* Minimum height to cover the entire viewport */
  width: auto; /* Allow the width to adjust proportionally */
  height: auto; /* Allow the height to adjust proportionally */
  z-index: -1; /* Set a lower z-index to keep it behind other content */
}

.my-form {
  max-width: 600px; 
  margin: 20px auto; 
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #939393;
  background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  box-sizing: border-box; 
  font-size: 20px;
}  

.checkbox-item {
  display: flex;
  vertical-align: middle;
  gap: 10px;
  margin-top: 5px;
}

.form-title {
  display: block;
  font-weight: bold;
  font-size: larger;
}

.form-item {
  padding: 5px;
}

select,
input[type="file"],
button {
  width: calc(100% - 20px); 
  padding: 15px; 
  margin-bottom: 15px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
&.learn-more {
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #4129dd;
    border: 2px solid #1419a4;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #271992;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #4449cb, 0 0.625em 0 0 #5786d1;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: #4129dd;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px #4449cb, 0 0.5em 0 0 #5786d1;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: #4129dd;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px #4449cb, 0 0 #5786d1;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}
 
.footer-container {
  display: grid;
  padding: 3rem 6rem;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  border-top: 0.5px solid #676767;
}

.footer-card {
  flex: 1;
  font-size: 18px;
}

.footer-item {
  flex-grow: 3;
}

.footer-card p {
  text-align: justify;
  color: #adadad;
}

.footer-card li {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  align-items: left;
  color: #adadad;
}