@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #101314;
}

main
{
  position: relative;
  margin-bottom: 20rem;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-brand img {
  width: 50px;
  height: auto;
}

.navbar-brand p {
  color: whitesmoke;
  vertical-align: middle;
  padding-top: 15px;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover {
  color: inherit;
}

a:active, a:focus {
  outline: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    background-image: paint(fleck);
    border-bottom: 0.5px solid #808080;
}

.navbar li {
  color: whitesmoke;
  margin-right: 1rem;
  text-decoration: none;
  list-style-type: none;
}

.left, .right {
  display: flex;
}

.right {
  margin-left: auto;
  font-size: larger;
}
 
.footer-container {
  display: grid;
  margin-bottom: 0;
  padding: 3rem 10rem;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  border-top: 0.5px solid #808080;
}

.footer-card {
  flex: 1;
  font-size: 18px;
}

.footer-item {
  flex-grow: 2.5;
}

.footer-card p {
  text-align: justify;
  color: #ccc;
}

.footer-card li {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  align-items: left;
  color: #ccc;
}

.footer-header {
  /* color: rgb(255, 153, 0); */
  color: #ff7f50;
}