.model-title {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    color: #fffffa;
}

.data-container {
    margin: 2rem 10rem;
    display: flex;
    flex-direction: column;
}

.data-container .main-content {
    color: #fffffa;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
    padding: 10px;
}

.data-header {
    padding: 10px;
    cursor: pointer;
    color: #f1f1f1;
    display: flex;
    flex-direction: row;
}

.data-header img {
    height: 32px;
    width: 32px;
    margin: 5px;
    align-self: center;
}

.data-header h3 {
    font-size: 32px;
    align-self: center;
    vertical-align: middle;
}

.data-content {
    display: none;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
    background-color: #0e1e3a;
    color: #ccc;
}

.data-info {
    border: 2px solid #808080;
    border-radius: 15px;
    padding: 10px;
}

.data-item.active .data-content {
    display: block;
    margin: 1rem 3rem;
}

.divTable {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.col-header {
    font-size: 22px;
    font-weight: 600;
}

.row {
    display: table-row;
}

.row > div:nth-child(1) {
    width: 40%;
}
.row > div:nth-child(2) {
    width: 15%;
}
.row > div:nth-child(3) {
    width: 15%;
}
.row > div:nth-child(4) {
    width: 15%;
}
.row > div:nth-child(5) {
    width: 15%;
}

.cell {
    padding: 5px 10px;
    border: 1px solid #808080; /* 36454f */
    text-align: left;
    display: table-cell;
}

@media screen and (max-width: 768px) {
    .data-container {
        margin: auto;
    }
}