.model-title {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
}

.about-container {
  margin: 2rem 0;
}

.about-content {
    background-color: #0e1e3a;
    color: #ccc;
    border: 1px solid #808080;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
    margin: 1rem 6rem;
    padding: 0 2rem;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.about-content h3 {
    color: #ccc;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.team-body {
    display: flex;
    margin: 1rem 6rem;
    gap: 10px;
}

.team-card {
    background-color: #0e1e3a;
    color: #ccc;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
    filter: drop-shadow(0 5px 15px rgba(0,0,0,.24));
    text-align: center;
    transition: all 0.5s ease;
}

.team-card h3 {
    font-size: 36px;
    font-weight: 600;
}

.team-card:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .team-body {
        flex-direction: column; 
        margin: 1rem 2rem; 
    }
}

.team-card a {
  display: inline-block;
  vertical-align: middle;
}