<!-- about us page -->
{% extends "layout.html" %}

{% block body %}

<style>
  /* Add custom CSS to style the text */
  .breadcrumb__text h1 {
    font-weight: bold;
    font-size: 80px;
  }
</style>

<style>
  body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

</style>

<div class="breadcrumb__text">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="content" style="position: absolute; top: 8%; left: 50%; transform: translateX(-50%)">
        <h1>ABOUT US</h1>
        <span><!-- line here --></span>
      </div>
    </div>
  </div>
</div>


 
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk tc heading">
        Uncover Anomalies : Discover the Unseen.
      </p>
      <div class="text-blk subHeading">
        <div class="section-title">
            <span></span>
        </div>
      <p class="text-blk desc">
        Welcome to our anomaly detection hub, where the realms of data science and machine learning converge to unveil the hidden stories within datasets. A go-to destination for anomaly detection with desired machine learning algorithms. Explore anomalies at a glance! Upload your dataset and dive into dynamic visualizations showcasing machine learning-driven anomaly detection results. Once you've uploaded your dataset, our platform seamlessly integrates AI algorithms to detect anomalies and reveal patterns that may go unnoticed. The 'Visualize Results' section provides a dynamic and interactive environment to explore the outcomes of anomaly detection on your uploaded datasets.Gain instant insights, interpret trends, and uncover patterns with ease. Your data, visualized and understood like never before.
      </p>

    <style>
      .text-blk  {
        margin-bottom: 80px;

      }
    </style>
      <p class="text-blk tc heading"; >
        OUR TEAM 
      </p>

      <style>
        /* CSS for profile cards */
.column {
  float: left;
  width: 20%; /* Adjust this value as needed */
  padding: 0 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
      
<div class="row">
  <div class="column">
    <div class="card">
      <a href="#">
        <img src="static/images/user.jpg" alt="profile picture" style="width:100%">
    </a>
    <style>
      .container {
    text-align: center; /* Center aligns the text */
    margin-top: 20px; /* Adds some space above the text */
}
    </style>
      <div class="container">
        <h2 >Nicole</h2>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="#">
        <img src="static/images/user.jpg" alt="profile picture" style="width:100%">
    </a>
      <div class="container">
        <h2>Nitya</h2>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="#">
        <img src="static/images/user.jpg" alt="profile picture" style="width:100%">
    </a>
      <div class="container">
        <h2>Rafath</h2>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="#">
        <img src="static/images/user.jpg" alt="profile picture" style="width:100%">
    </a>
      <div class="container">
        <h2>Srushti</h2>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <a href="#">
        <img src="static/images/user.jpg" alt="profile picture" style="width:100%">
    </a>
      <div class="container">
        <h2>Varad</h2>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}