{% extends "layout.html" %}

{% block nav_right %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
{% endblock %}

{% block body %}

<h1 class="model-title">About Us</h1>
<div class="about-container">
    <div class="about-content">
        <h3>Uncover Anomalies : Discover the Unseen.</h3>
        <p>Welcome to our anomaly detection hub, where the intersection of data science and machine learning illuminates the hidden narratives within datasets. As final year computer engineering students, we are passionate about leveraging cutting-edge technologies to unravel the mysteries embedded in data. Our platform serves as a go-to destination for anomaly detection, harnessing the power of diverse machine learning algorithms. By uploading your dataset, embark on a journey of discovery as our AI seamlessly integrates to uncover anomalies and unveil intricate patterns that might otherwise evade detection. Dive into the 'Visualize Results' section to explore dynamic visualizations, providing instant insights and facilitating the interpretation of trends with unparalleled ease. With your data transformed into a visually comprehensible narrative, unlock a deeper understanding of its intricacies and potentials. Join us in the quest to illuminate the unseen, one dataset at a time.</p>
    </div>
    <div class="team-container">
        <h1 class="model-title">Meet our team</h1>
        <div class="team-body">
            <div class="team-img">
                <img src="/static/images/group.png" alt="team-picture">
            </div>
            <div class="team-card">
                <p>As final year computer engineering students, we embarked on this journey because we believe in the power of data to tell compelling stories and drive meaningful insights. We're passionate about leveraging the latest advancements in machine learning to democratize access to anomaly detection, making it accessible to all. Our mission is not just to detect anomalies, but to empower individuals and organizations to make informed decisions based on a deeper understanding of their data. With every dataset we analyze, we're driven by the desire to uncover the unexpected, challenge assumptions, and spark new discoveries. Join us as we transform raw data into actionable insights and embark on a quest to unravel the mysteries of the digital age, one anomaly at a time.</p>
            </div>
    </div>
</div>

{% endblock %}