{% extends "layout.html" %}

{% block body %}

<h1 class="model-title">About Us</h1>
<div class="about-container">
    <div class="about-content">
        <h3>Uncover Anomalies : Discover the Unseen.</h3>
        <p>Welcome to our anomaly detection hub, where the realms of data science and machine learning converge to unveil the hidden stories within datasets. A go-to destination for anomaly detection with desired machine learning algorithms. Explore anomalies at a glance! Upload your dataset and dive into dynamic visualizations showcasing machine learning-driven anomaly detection results. Once you've uploaded your dataset, our platform seamlessly integrates AI algorithms to detect anomalies and reveal patterns that may go unnoticed. The 'Visualize Results' section provides a dynamic and interactive environment to explore the outcomes of anomaly detection on your uploaded datasets. Gain instant insights, interpret trends, and uncover patterns with ease. Your data, visualized and understood like never before.</p>
    </div>
    <div class="team-container">
        <h1 class="model-title">Meet our team</h1>
        <div class="team-body">
            <div class="team-card">
                <img src="static/images/user.jpg" alt="Nicole">
                <h3>Nicole</h3>
                <a href="" target="_blank"><img src="static/images/icons8-linkedin.svg" alt="linkedin-nicole"></a>
                <a href="" target="_blank"><img src="static/images/icons8-github.svg" alt="github-nicole"></a>
            </div>
            <div class="team-card">
                <img src="static/images/user.jpg" alt="Nitya">
                <h3>Nitya</h3>
                <a href="" target="_blank"><img src="static/images/icons8-linkedin.svg" alt="linkedin-nitya"></a>
                <a href="" target="_blank"><img src="static/images/icons8-github.svg" alt="github-nitya"></a>
            </div>
            <div class="team-card">
                <img src="static/images/user.jpg" alt="Rafath">
                <h3>Rafath</h3>
                <a href="" target="_blank"><img src="static/images/icons8-linkedin.svg" alt="linkedin-rafath"></a>
                <a href="" target="_blank"><img src="static/images/icons8-github.svg" alt="github-rafath"></a>
            </div>
            <div class="team-card">
                <img src="static/images/user.jpg" alt="Srushti">
                <h3>Srushti</h3>
                <a href="" target="_blank"><img src="static/images/icons8-linkedin.svg" alt="linkedin-srushti"></a>
                <a href="" target="_blank"><img src="static/images/icons8-github.svg" alt="github-srushti"></a>
            </div>
            <div class="team-card">
                <img src="static/images/user.jpg" alt="Varad">
                <h3>Varad</h3>
                <a href="https://www.linkedin.com/in/kelkarvarad/" target="_blank"><img src="static/images/icons8-linkedin.svg" alt="linkedin-varad"></a>
                <a href="https://github.com/varad0207" target="_blank"><img src="static/images/icons8-github.svg" alt="github-varad"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}