<!-- about us page -->
{% extends "layout.html" %}

{% block navbar %}
    <a class="nav-link active pr2" href="/">Home</a>
    <a class="nav-link active pr2" href="/">Back</a>
{% endblock %}

{% block body %}
 
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        About Us
      </p>
      <div class="text-blk subHeading">
        <div class="section-title">
            <span></span>
            <h1>Uncover Anomalies:Discover the Unseen.</h1>
        </div>
      <p class="text-blk desc">
        Welcome to our anomaly detection hub, where the realms of data science and machine learning converge to unveil the hidden stories within datasets. A go-to destination for anomaly detection with desired machine learning algorithms. Explore anomalies at a glance! Upload your dataset and dive into dynamic visualizations showcasing machine learning-driven anomaly detection results. Once you've uploaded your dataset, our platform seamlessly integrates AI algorithms to detect anomalies and reveal patterns that may go unnoticed. The 'Visualize Results' section provides a dynamic and interactive environment to explore the outcomes of anomaly detection on your uploaded datasets.Gain instant insights, interpret trends, and uncover patterns with ease. Your data, visualized and understood like never before.
      </p>
    </div>
  </div>

{% endblock %}