{% extends "layout.html" %}
{% block head %}
 
{% endblock %}
{% block body %}
    <div class="tc pa2 header">
        <h1 class="f-subheadline lh-title">Hello, Scientist</h1>
    
        <h2 class="f1 lh-title">Dive deeper into the world of Anomaly Detection</h2>
    </div>
    
    <div class="container">
        <div class="custom-box">
            <img src="/static/icons8-dataset-100.png" alt="">
            <a href="/dataset_char"><p>Dataset Characterization</p></a>
        </div>
        <div class="custom-box">
            <img src="/static/icons8-info-100.png" alt="">
            <a href="/learn_more"><p>Learn More about our Models</p></a>
        </div>
        
        <div class="custom-box">
            <img src="/static/icons8-graph-96.png" alt="">
            <a href="/input_form"><p>Visualization of Results</p></a>
        </div>
        <div class="custom-box">
            <img src="/static/icons8-combo-chart-100.png" alt="">
            <a href="/visualizedata"><p>Visualization of Data</p></a>
        </div>
    </div>

    <!-- <div class="info-container">
        <div class="info-item">
            <h1>What is Anomaly?</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur consequuntur, mollitia perferendis incidunt, quaerat nisi architecto cumque sint esse adipisci officia dicta! Asperiores porro maiores tenetur aspernatur quas itaque provident.</p>    
        </div>
        <div class="info-item">
            <h1>What is Anomaly Detection?</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur consequuntur, mollitia perferendis incidunt, quaerat nisi architecto cumque sint esse adipisci officia dicta! Asperiores porro maiores tenetur aspernatur quas itaque provident.</p>    
        </div>
    </div> -->
{% endblock %}
