{% extends "layout.html" %}

{% block navbar %}
    <a class="nav-link active pr2" href="/">Home</a>
    <a class="nav-link active pr2" href="/">Back</a>
{% endblock %}

{% block body %}
    <div class="my-form">
        <form action="/inputs" method="post" enctype="multipart/form-data">
            <div class="form-item">
                <label class="form-title" ="algo">Please Model(s) from the below</label>
                {% for a in algos %}
                    <div class="checkbox-item">
                        <input type="checkbox" name="algo" value="{{ a }}">
                        <label for="{{ a }}">{{ a }}</label>
                    </div>
                {% endfor %}
                <div class="checkbox-item">
                    <input type="checkbox" id="select-all-checkbox" onclick="toggleCheckboxes()">
                    <label for="select-all-checkbox">Select All</label>
                </div>
            </div>
            <div class="form-tem">
                <label for="file">Upload a dataset</label>
                <input type="file" name="dataset" accept=".csv">
            </div>
            <div class="form-item">
                <button type="submit" class="learn-more">Visualize Results</button>
            </div>
        </form>
    </div>
    {% if error %}
        <h1 class="tc">{{ error }}</h1>
    {% endif %}

    <script>
        function toggleCheckboxes() {
            var checkboxs = document.querySelectorAll('input[type="checkbox"][name="algo"]');
            var selectAllCheckbox = document.getElementById('select-all-checkbox');

            checkboxs.forEach(function(checkbox) {
                checkbox.checked = selectAllCheckbox.checked;
            }); 
        }
    </script>
{% endblock %}