{% extends "layout.html" %}

{% block body %}
<h1 class="f1 lh-title tc">Learn more about our Models</h1>
<div class="article-grid">
    <article class="article-card article" id="m1">
        <div class="articel-thumbnail-wrap">
            <img src="/static/gan.jpeg" alt="some-image">
        </div>
        <div class="article-article">
            <a href="https://dl.acm.org/doi/abs/10.1145/3422622"><p>Generative Adversarial Network</p></a>
            <div class="card-content">A GAN, or Generative Adversarial Network, is a generative model that simultaneously trains two models: a generative model (G) that captures the data distribution, and a discriminative model (D)that estimates the probability that a sample came from the training data rather than G. The training procedure for G is to maximize the probability of D making a mistake. This framework corresponds to a minimax two-player game. In the space of arbitrary functions Gand D, a unique solution exists, with G recovering the training data distribution and D equal to 1/2 everywhere. In the case where G and D are defined by multilayer perceptrons, the entire system can be trained with backpropagation.</div>
            <!-- <div class="author-row">Ian J. Goodfellow</div> -->
        </div>
    </article>
    <article class="article-card article" id="m2">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>  
    </article>
    <article class="article-card article" id="m3">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m4">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m5">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m6">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m7">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m8">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m9">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
    <article class="article-card article" id="m10">
        <div class="articel-thumbnail-wrap">
            <img src="" alt="some-image">
        </div>
        <div class="article-article">
            <p>Model</p>
            <div class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id laborum eaque in dolores deserunt odio nostrum repellat amet! Maxime magni nam et error illum laudantium nisi eveniet ullam magnam aliquam?</div>
        </div>
    </article>
</div>
{% endblock %}