{% extends "layout.html" %}

{% block body %}
    {% if not submitted %}
    <div class="my-form">
        <form action="/datavis" method="post" enctype="multipart/form-data">
            <div class="form-item">
                <label for="file" class="form-title">Upload a dataset</label>
                <input type="file" name="dataset" accept=".csv">
            </div>
            <div class="form-item">
                <button type="submit" class="learn-more">Visualize Univariate Data</button>
            </div>
        </form>
    </div>
    {% endif %}
    {% if submitted %}
    <div class="data-plots">
        <h1 class="f1 b tc">Data Visualization</h1>
        <!-- <h1 class="f2 lh-copy">Visualization of Univariate Data</h1> -->
        {% for p in plot %}
        <img class="plot-img1" src="data:image/png;base64,{{ p }}" alt="Data Visualization"> 
        {% endfor %}    
    </div>  
    {% endif %}
    {% if error %}
        <h1 class="tc">{{ error }}</h1>
    {% endif %}
{% endblock %}