{% extends "layout.html" %} 
{% block navbar %}
  <a class="nav-link active pr2" href="/">Home</a>
  <a class="nav-link active pr2" href="/input_form">Back</a>
{% endblock %} 
{% block body %}
<div class="data-plots">
  <h1 class="f1 b tc">Result Visualization</h1>

  {% for a in algos %}
    <h1 class="f2 lh-copy">Visualization of Results for {{ a }} model</h1>
    {% for k,i in selected_algo[a].items() %}
      {% if k=='precision' %}
        <h2>Precision: {{ i }}</h2>
      {% elif k=='recall' %}
        <h2>Recall: {{ i }}</h2>
      {% elif k=='f1_score' %}
        <h2>F1-score: {{ i }}</h2>
      {% endif %}
    {% endfor %}
      {% for p in plot[a] %}
      <img
        class="plot-img"
        src="data:image/png;base64,{{ p }}"
        alt="{{ a }} plots"
      />
    {% endfor %} 
  {% endfor %} 
  {% if auc_plot %}
  <h1 class="f2 lh-copy">AUC-ROC of models</h1>
  <img
    class="plot-img"
    src="data:image/png;base64,{{ auc_plot }}"
    alt="AUC-ROC Curve"
  />
  {% endif %}
</div>
{% endblock %}