{% extends "layout.html" %}

{% block navbar %}
    <a class="nav-link active pr2" href="/">Home</a>
    <a class="nav-link active pr2" href="/input_form">Back</a>
    <a class="nav-link active pl2" href="/logout">Log Out</a>
{% endblock %}

{% block body %}
    <div class="tc">
        {% for a in algos %}
            <h1 class="f2 lh-copy">Visualization of Results for {{ a }} model</h1>
            <img src="data:image/png;base64,{{ plot[a] }}" alt="{{ a }} plots">  
        {% endfor %}
        {% if auc_plot %}
            <h1 class="f2 lh-copy">AUC-ROC of models</h1>
            <img src="data:image/png;base64,{{ auc_plot }}" alt="AUC-ROC Curve">  
        {% endif %}
    </div>  
{% endblock %}